/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Set the background color for the body */

body {
  background-color: #d59ecd;
}

/* Style links */
a {
  color: rgb(227, 132, 235);
  text-decoration: none;
}


/* Customize button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #933491;
  color: #fff;
  border-radius: 5px;
}

/* Style form inputs */
input[type="text"], textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #6a6565;
  border-radius: 5px;
}

/* Style form submit button */
input[type="submit"] {
  padding: 10px 20px;
  background-color: #e527ef;
  color: #ffffff;
  border: 0, 0, 0, 5px;
  border-radius: 5px;
  cursor: pointer;
}
